@using MyFilmBevy.Models.View

@model LandingPageVM

@{
    ViewData["Title"] = "My Movie Bevy";
}


<div class="row">
    @foreach(var movie in Model.Upcoming.results)
    {
        if(movie is not null)
        {
            <div class="col-sm-3 mb-2">
                <div class="card" style="width: 18rem;">
                    <img src="@movie.poster_path" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@movie.title</h5>
                        <p class="card-text">@movie.overview</p>
                        <button class="btn btn-lg btn-warning">Details</button>
                    </div>
                </div>
            </div>
        }
        else
        {
            // Figure out what to do if nothing is returned, out of error usually
        }
    }
</div>

